.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.map-wrapper {
  height: 40rem;
  width: 40rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .vehicle {
    width: 50%;
    margin: 10px auto 10px auto;
    padding: 20px;
    border-radius: 15px;
    text-align: left;
} */

input {
  width: 320px;
  text-align: center;
  margin-right: 10px;
}

table {
  margin: 10px;
  width: calc(100%-10px);
  margin-left: auto;
  margin-right: auto;
}

th {
  background-color: lightgrey;
  border-width: 2px;
  border-color: grey;
  border-style: solid;
  border-radius: 5px 5px 0px 0px;
}

.available {
  background-color: lightgreen;
  border-width: 2px;
  border-color: green;
  border-style: solid;
}

.occupied {
  background-color: lightcoral;
  border-width: 2px;
  border-color: darkred;
  border-style: solid;
}

.idTabledata {
  font-size: 8pt;
}

h2 {
  font-size: 28pt;
  margin-top: 20px;
  background-color: lightgrey;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 60px);
  border-radius: 10px;
}
